* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}


body {
    background-image: url("https://i.pinimg.com/564x/91/f7/8e/91f78ed43505c13046998f29cc0431af.jpg");
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.container__principal {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background-color: #8b7272;
    border-radius: 20px;
}

.container__img {
    height: 245px;
}

.img__principal {
    width: 400px;
    height: 235px;
    border-radius: 20px 20px 0 0;
}

.text__img {
    color: white;
    position: relative;
    bottom: 40px;
    left: 10px;
    font-size: 20px;
}

.info {
    color: white;
    margin: 5px;
    font-size: 18px;
}

.info input {
    width: 364px;
    border-radius: 5px;
    margin: 5px 0;
    padding: 3px;
    border: 0;
    opacity: 0.4;
    padding: 7px;
    font-size: 15px;
    color: black;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 165px;
    height: 40px;
    border-radius: 7px;
    border: none;
    margin: 10px;
    color: #F5F5F5;
    background: #00838fcf;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}